<div class="controls">
  <h1>AI Photo Collage Creator</h1>
  <p>Powered by Zoom Video SDK's AI Live Transcription feature.</p>

  <button (click)="getVideoSDKJWT()" *ngIf="!stream">Create Collage</button>
  <button (click)="enableTranscription()" *ngIf="stream && !client.getCurrentUserInfo().audio">Enable Transcription</button>
  <button *ngIf="stream && client.getCurrentUserInfo().audio" (click)="disableTranscription()">Disable Transcription</button>
  <button (click)="save()" *ngIf="stream">Save Collage</button>
  <!-- <button>Share?</button> -->
  <button *ngIf="stream" (click)="leaveSession()">Close Collage</button>
</div>


<div class="collage" id="collage">
  <img src="{{ photo.urls.small }}" alt="{{ photo.description }}" *ngFor="let photo of collage" [ngStyle]="{'top': + photo.top + 'px', 'left': + photo.left + 'px'}">
</div>